@import '../../site.css';

.cardcontainer {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 8vh 6vw;
  margin-left: 2vw;
  height: 50vh;
  background-color: white;
}

.cardcontent {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 36px;
  font-family: var(--defaultSanSerifFont);
  text-decoration: none;
}

.body1 {
  font-size: 20px;
  font-family: var(--defaultSanSerifFont);
  text-decoration: none;
}
